<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--site title here-->
	<title>Square Fong's Blog</title>
	<!--加载外部CSS-->
	<link rel="stylesheet" type="text/css" href="/css.css">
	<link href="../resources/logo.jpg" rel="shortcut icon"/>
</head>

<body>
	<!--replace with info.html-->
	<!--固定的信息栏-->
    <div class="siteinfo">
	    <br/>
	    <img src="../resources/logo.jpg" alt="logo">
	    <br/>
	    <a style="font-size:28px;">Square Fong</a>
	    <br/>
	    <a style="font-size:18px;">@squarefong</a>
	    <br/>
	    <br/>
	    <a style="font-size:16px;">生于忧患，咸鱼安乐</a>
	    <br/>
    	<br/>
    	<br/>
    	<div style="font-size:16px;">
    		<a href="https://github.com/SquareFong">Github</a>
    		<a>&nbsp;</a>
    		<a href="https://twitter.com/SquareFong1997">Twitter</a>
	    </div>
	    <br/>
	    <br/>
	    <div style="font-size:16px;">
	    	<a>Powered by</a><a>&nbsp;</a>
	    	<a href="https://www.squarefong.com/">Square Fong</a><a>&nbsp;</a>
	    </div>
	    <br/>
    </div>

	<div class="blogContainer">
		<!--replace with all posts-->
        <div style="background: #202020;">
			<br/>
			<div style="text-align:left;margin-left:4%;width:92.5%">
				<a style="font-size:36px"><strong> Oops......Temperaty nothing here </strong></a>
			</div>
			<br/>
		</div>
        <br/>
    </div>
		<!--replace with topbar-->
		<!--页面顶栏 -->
	<div class="top" style="background:#111111;height:55px;"></div>
	<div class="top">
		<a class="topButton"  style="background-color: gray;" href="/">
			<div style="margin-top:8px ">Home</div>
		</a>

		<a class="topButton" href="/Posts/index.html">
			<div style="margin-top:8px">Posts</div>
		</a>
		<a class="topButton" href="/friends.html">
			<div style="margin-top:8px">Friends</div>
		</a>
		<a class="topButton" href="/About/index.html">
			<div style="margin-top:8px">About</div>
		</a>
	</div>

	</div>
</body>
</html>
