		<div style="background: #202020;">
			<br/>
			<div style="text-align:left;margin-left:4%;width:92.5%">
				<a class="link" href="{4}" style="font-size:36px"><strong> <!--replace with Title--> {0}</strong></a>
				<!--replace with your article-->
				{1}
			</div>
			<br/>
		</div>
		<div style="background:#1B1B1B;">
			<div style="margin-left:4%;padding:16px;">
				<a> <!--replace with post date-->{2} &nbsp;&nbsp;&nbsp;tag:&nbsp;</a>
				<a class="link" > <!--replace with post tag-->{3} </a>
			</div>
		</div>
