<!--固定的信息栏-->
    <div class="siteinfo">
	    <br/>
	    <img src="../resources/logo.jpg" alt="logo">
	    <br/>
	    <a style="font-size:28px;">Your Name</a>
	    <br/>
	    <a style="font-size:18px;">@yourName</a>
	    <br/>
	    <br/>
	    <a style="font-size:16px;">生于忧患，咸鱼安乐</a>
	    <br/>
    	<br/>
    	<br/>
    	
	    <br/>
	    <br/>
	    <br/>
	    <br/>
	    <br/>
	    <br/>
	    <div style="font-size:16px;">
	    	<a>Powered by</a><a>&nbsp;</a>
	    	<a href="https://www.squarefong.com/">Square Fong</a><a>&nbsp;</a>
	    </div>
	    <br/>
    </div>
