<!--页面顶栏 -->
	<div class="top" style="background:#111111;height:55px;"></div>
	<div class="top">
		<a class="topButton"  style="background-color: gray;" href="/">
			<div style="margin-top:8px ">Home</div>
		</a>

		<a class="topButton" href="/Posts/index.html">
			<div style="margin-top:8px">Posts</div>
		</a>
		<a class="topButton" href="/friends.html">
			<div style="margin-top:8px">Friends</div>
		</a>
		<a class="topButton" href="/About/index.html">
			<div style="margin-top:8px">About</div>
		</a>
	</div>
